
<launch>


 <node name="serial_node" pkg="rosserial_python" type="serial_node.py">
    <param name="port" value="/dev/ttyACM0"/>
    <param name="baud" value="57600"/>
  </node>

  <node name="random" pkg="crash_dummy" type="random"> </node>

  <node pkg="crash_dummy" name="arbiter" type="arbiter.py"> </node>

</launch>
